@model FellowshipOneAPIDemo.Models.Address

@{
    ViewBag.Title = "Create";
}



<h2>Add New Address</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <ul>
            <li>
                @Html.LabelFor(m => m.Address1)
                @Html.TextBoxFor(m => m.Address1)
            </li>
            <li>
                @Html.LabelFor(m => m.Address2)
                @Html.TextBoxFor(m => m.Address2)
            </li>
            <li>
                @Html.LabelFor(m => m.Address3)
                @Html.TextBoxFor(m => m.Address3)
            </li>
            <li>
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City)
            </li>
            <li>
                @Html.LabelFor(m => m.PostalCode)
                @Html.TextBoxFor(m => m.PostalCode)
            </li>
            <li>
                @Html.LabelFor(m => m.County)
                @Html.TextBoxFor(m => m.County)
            </li>
            <li>
                @Html.LabelFor(m => m.StProvince)
                @Html.TextBoxFor(m => m.StProvince)
            </li>
            <li>
                @Html.LabelFor(m => m.Country)
                @Html.TextBoxFor(m => m.Country)
            </li>
        </ul>
        <input type="hidden" value="@ViewBag.HHID" name="household_id"/>
        <input type="submit" value="Add Address" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

